// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.margin-test {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  margin-right: $margin-right;
}

// Nesting
.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  li {
    width: 30%;
    background-color: #FFEED5;
    padding: 5px;
    text-align: center;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
// Referencing parent selectors
.col {
    &-span1 { width: 8.33%; }
    &-span2 { width: 16.66%; }
    &-span3 { width: 24.99%; }
}

// Nested properties
.example {
    border: {
        style: dashed;
        width: 30px;
        color: blue;
    }
}
// Inheriting (or Extending) Propertie
h1 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #222;
}
h2 {
  @extend h1;
  border-top: 1px solid #444;
}
h3 {
  @extend h1;
  margin-left: 20px;
}
// Extending With Placeholder Selectors
#main h1 {
  background-color: blue;
}
%headline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #222;
}
h1 {
  @extend %headline;
}
h2 {
  @extend %headline;
  border-top: 1px solid #444;
}
h3 {
  @extend %headline;
  margin-left: 20px;
}

// custom functions
@function make-greener($value) {
    @return $value + rgb(0,50,0); // arithmetic with colors is totally fine, btw
}
p {
    background: make-greener(gray);
}

// Argument defaults
@mixin foobar($margin, $border, $padding: 20px) {
    padding: $padding;
    margin: $margin;
    border: $border;
}

p {
    @include foobar(11, 5); // the default padding's fine
}

p.important {
    @include foobar(11, 5, 50px); // override the default
}


//media query

@mixin mq-small {
@media (min-width: $screen-small) and (max-width: $screen-medium - 1px) {
@content;
}
}
@mixin mq-small-up {
@media (min-width: $screen-small) {
@content;
}
}
@mixin mq-medium {
@media (min-width: $screen-medium) and (max-width: $screen-large - 1px) {
@content;
}
}
@mixin mq-medium-up {
@media (min-width: $screen-medium) {
@content;
}
}
@mixin mq-large-up {
@media (min-width: $screen-large) {
@content;
}
}

p {
font-size: 1.5em;
@include mq-small-up {
font-size: 1.75em;
margin-top: 10px;
}
}

.sidebar {
padding: 0px;
margin: 0px;
@include mq-small {
padding: 3px;
}
@include mq-medium {
padding: 10px;
}
@include mq-medium-up {
margin: 10px 0;
}
@include mq-large-up {
padding: 15px;
}
}
